body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.goBackButton {
  transition-duration: 0.4s;
}
.goBackButton:hover {
  color: white;
}

.goForwardButton {
  transition-duration: 0.4s;
}

.submit {
  float: right;
}

.flex {
  display: flex
}

.column {
  flex-direction: column;
}
#scoresheet {
  border: 2px black solid;
  padding: 15px;
  /* background-color: whitesmoke; */
}

#summaryTitle {
  margin: 5px;
  padding: 5px
}
#summary {
  margin: 5px;
  padding: 5px
}

#score{
  margin: 0, 15px;
  padding: 5px
}

.form-width{
  width: max-content;
}

.container-left {
  width: 20%;
}

.container-right {
  width: 20%;
}

.analytics {
  margin: 0, 35px;
}